<!DOCTYPE html>

<html lang="en">



<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<meta http-equiv="Pragma" content="no-cache">
	<title>TheMonsters</title>	
</head>    

<body>		
	<div class="content app" >		
	
		<div class="nav">
			<div class="logo">
				<img src="img/logo.png" alt="">
			</div>
			<button class="market">Market</button>
			<button class="lab active">Lab</button>
			<button class="battleground">Battleground</button>
			<button class="rank">Ranked</button>
			<a href="#faq" class="popup htp">How to play</a>
			<a href="#about" class="popup contact">Contact</a>
		</div>

		<div class="container">
			<div class="lab_nav" v-show="lab">
				<button class="lab_monsters active">My monsters</button>
				<button class="lab_gift">Get monster</button>
			</div>		
			
			<div v-show="market">
				<div id="monster-market">
					<monster-market
					  v-for="post in monsters"
					  v-bind:id="post.id"
					  v-bind:name="post.name"
					></monster-market>		
				</div>
			</div>

			<div v-show="lab_monsters">
				<div id="my-monster-lab">
					<my-monster-lab
						v-for="monster in my_monsters"				  
						v-bind:speed="monster.speed"
						v-bind:name="monster.name"				  
						v-bind:flex="monster.flex"
						v-bind:power="monster.power"
						v-bind:weight="monster.weight"
						v-bind:src="'img/' + monster.name"
					></my-monster-lab>		
				</div>						
			</div>
			<div class="no_monsters" v-show="no_monsters">
				<h1>You don't have crypto monster at the moment. There are two major ways to obtain a crypto monster</h1>			
				<div class="column">
					<h2>Try to get free monster</h2> 	
					<a href="#" class="fake_gift"><button>Get free monster</button></a>
				</div>
				<div class="column">
					<h2>Buy from other players on the Market</h2> 	
					<a href="#" class="fake_market"><button>Go to market</button></a>
				</div>			
			</div>
			
			<div v-show="battleground">
				<div id="monster-bg">
					<monster-bg
					  v-for="post in monsters"
					  v-bind:id="post.id"
					  v-bind:name="post.name"
					></monster-bg>		
				</div>
			</div>

			<div v-show="rank">
				<div id="monster-ranked">
					<monster-ranked
					  v-for="post in monsters"
					  v-bind:id="post.id"
					  v-bind:name="post.name"
					></monster-ranked>		
				</div>
			</div>
						
			<div v-show="lab_gift">
				<div class="gift_box">
					<h1>Get your new monster</h1>
					<div class="pay">
						<img src="img/box.png" alt="">
						<span class="prize">Only 0.01</span>
						<button class="get">Get monster</button>
					</div>						
					<div class="free">
						<img src="img/box_green.png" alt="">
						<span class="cost">FREE monster</span>
						<button class="get get_free_monster">Get free</button>
						<span class="tip">One for each account</span>
					</div>
					<div class="error">
						<h1></h1>
					</div>
				</div>
			</div>

			<div class="congrat" v-show="congrat">
				<h1>Congratulate! You get <span class="name">{{congrat_name}}</span></h1>	
				<monster-gift
				  v-for="monster in monsters_gift"				  
				  v-bind:speed="monster.speed"
				  v-bind:name="monster.name"				  
				  v-bind:flex="monster.flex"
				  v-bind:power="monster.power"
				  v-bind:weight="monster.weight"				  
				></monster-gift>												
			</div>

			<div class="versus" v-show="versus">	
				<div class="fight_res">Fight result</div>

				<div class="wrap">
					<div class="monster">
						<h3>Chicken</h3>
						<img src="img/chicken.png" alt="">						
						<a href="#" class="info"><img src="img/info.png" alt=""></a>
						<div class="stats">
							<span class="speed">speed: <span class="value">13</span></span>
							<span class="agility">agility: <span class="value">13</span></span>
							<span class="power">power: <span class="value">13</span></span>
						</div>
						<span class="owner">owner <span class="value">n1UKWyKoDtMdmsomgQmsDa2rPMWLKVfEYp1</span></span>
						<span class="weight">6.8 kg</span>						
						<button class="result winner">Winner <span class="kg">+ 1 kg</span></button>								
					</div>	

					<div class="vs">VS</div>

					<div class="monster">
						<h3>Chicken</h3>
						<img src="img/chicken.png" alt="">						
						<a href="#" class="info"><img src="img/info.png" alt=""></a>
						<div class="stats">
							<span class="speed">speed: <span class="value">13</span></span>
							<span class="agility">agility: <span class="value">13</span></span>
							<span class="power">power: <span class="value">13</span></span>
						</div>
						<span class="owner">owner <span class="value">n1UKWyKoDtMdmsomgQmsDa2rPMWLKVfEYp1</span></span>
						<span class="weight">6.8 kg</span>						
						<button class="result looser">Looser<span class="kg">- 1 kg</span></button>				
					</div>
				</div>
			</div>
		
			<div class="monster_page" v-show="monster_page">
				<div class="monster">
					<h3>Pink Guy</h3>
					<img src="img/pink.png" alt="">										
					<div class="stats">
						<span class="speed">speed: <span class="value">13</span></span>
						<span class="agility">agility: <span class="value">13</span></span>
						<span class="power">power: <span class="value">13</span></span>
					</div>			
					<span class="owner">owner <span class="value">n1UKWyKoDtMdmsomgQmsDa2rPMWLKVfEYp1</span></span>
					<span class="weight">6.8 kg</span>												
				</div>
				<div class="history">
					<h1>Fights history</h1>
					<ul>					
						<li><span class="opponent">Oppenent</span><span class="result">Result</span></li>
						<li><img class="opp" src="img/big.png" alt=""><span class="res winner">Win <span class="weight"> (+ 1kg)</span></span><a href="#" class="info"><img src="img/info.png" alt=""></a></li>
						<li><img class="opp" src="img/long.png" alt=""><span class="res winner">Win <span class="weight"> (+ 1kg)</span></span><a href="#" class="info"><img src="img/info.png" alt=""></a></li>
						<li><img class="opp" src="img/green.png" alt=""><span class="res loose">Loose <span class="weight"> (- 1kg)</span></span><a href="#" class="info"><img src="img/info.png" alt=""></a></li>
					</ul>
				</div>
			</div>

		</div>
	
		<div id="my_monsters_popup" class="mfp-fade mfp-hide">		
			<h1>Pick your monster for fight!</h1>
			<div id="my-monster-lab-popup">
				<my-monster-lab-popup
				  v-for="post in monsters"
				  v-bind:id="post.id"
				  v-bind:name="post.name"
				></my-monster-lab-popup>
			</div>		
		</div>

		<div id="faq" class="mfp-fade mfp-hide">
			<div class="container_faq">
				<h3>How to play</h3>
				<p></p>
			</div>
		</div>

		<div id="about" class="mfp-fade mfp-hide">
			<h3>Contact</h3>
			<span>E-mail: 
				<a href="mailto:alexdarkstalkeroriginal@gmail.com">alexdarkstalkeroriginal@gmail.com</a>
			</span>
		</div>
	</div>
	<a href="#transaction" class="transaction" style="position: absolute; width: 0.1px; opacity: .1"></a>	
	<div id="transaction" class="mfp-hide mfp-fade">
		<p>Transaction is <span class="status_trans"></span></p>
		<img src="img/pending.gif" alt="">
		<div class="hash"></div>			
	</div>

	<div class="noExtension" style="display: none"> 
		NOTE: Please install <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a>  to use BlackJack Nebulas or try CTRL+F5
	</div>
	<div class="errNetwork" style="display: none">
		NOTE: Sorry, you use incorrect net
	</div>	

	<script src='lib/jquery-3.3.1.min.js'></script>
	<link rel="stylesheet" href="lib/main.css">	
	<link rel="stylesheet" href="lib/magnific-popup.css">    
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	<script src="lib/vue.min.js"></script>
	<script src='lib/nebPay.js'></script>    	
    <script src='lib/nebulas.js'></script>
    <script src='lib/jquery.magnific-popup.js'></script>
    <script src="lib/common.js"></script>            
</body>
</html>